body {
    background-image: url("/images/beyonce.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    flex-direction:row;
    justify-content:center;
    color: white;
    list-style: none;
}

nav a{
    padding: 0 1rem;
    color: white;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
}